[user]
	name = vardyh
	email = vardyh.dev@gmail.com
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	si = submodule init
	su = submodule update
	sur = submodule update --recursive
[push]
	default = matching
[core]
	autocrlf = input
