[user]
	name = vardyh
	email = vardyh.dev@gmail.com
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
[color]
	diff = always
	status = always
	commit = true
	ui = always
	interactive = always
[push]
	default = matching
[core]
	autocrlf = input
