xft*dpi: 96
Xft*antialias: true
Xft*hintstyle: hintsnone
Xft*smoothing: subpixel

xterm*locale: true
xterm*utf8: true
xterm*utf8Title: true
xterm*geometry: 110x25
xterm*metaSendsEscape: true
xterm*faceName: Monaco-8
xterm*faceNameDoublesize: Microsoft YaHei-8
xterm*allowTitleOps: true

xterm*color0:	#000000
xterm*color1:	#a85555
xterm*color2:	#55a855
xterm*color3:	#a8a855
xterm*color4:	#5555a8
xterm*color5:	#a855a8
xterm*color6:	#55a8a8
xterm*color7:	#a8a8a8
xterm*color8:	#555554
xterm*color9:	#ff5554
xterm*color10:	#55ff54
xterm*color11:	#ffff54
xterm*color12:	#5555ff
xterm*color13:	#ff55ff
xterm*color14:	#55ffff
!xterm*color14:	#ffffff
xterm*reverseVideo: true
